<div class="widget-callback-chat">
  <button class="widget-callback-chat__btn-active"></button>
  <div class="widget-callback-chat__body _hide">
    <div class="widget-callback-chat__top">
      <div class="widget-callback-chat__title">Напишите нам</div>
      <button class="widget-callback-chat__btn-close"></button>
    </div>
    <form class="widget-callback-chat__form">
      <textarea class="widget-callback-chat__message"></textarea>
      <button class="widget-callback-chat__btn-send">Отправить</button>
    </form>
  </div>
</div>
