<div class="widget-collapse">
  <button class="widget-collapse__button">Collapse</button>
  <div class="widget-collapse__text-animation">
    <div class="widget-collapse__text-wrap">
      <p class="widget-collapse__text">Если в качесте параметра в конструктор передать селектор или элемент, то виджет по умолчанию будет добавлен в конец этого элемента через append. Если виджет нужно добавить не в конец элемента, то можно это сделать вручную, используя свойство виджета element.</p>
    </div>
  </div>
</div>
