* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f2f2f2;
  padding-top: 10px;
}

h1, h2 {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 30px;
}

h2 span {
  font-size: 80%;
  font-style: italic;
  color: slateblue;
}

.container {
  padding: 15px;
}

.content {
  width: 33.33%;
}

.widget-collapse {
  margin-bottom: 20px;
}
